PORT=xxxxx

CLIENT_URL=xxxxx
SESSION_SECRET=xxxxx

MONGO_URI_DEV=xxxxx
MONGO_URI_PROD=xxxxx
MONGO_URI_TEST=xxxxx

GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxx
GOOGLE_CALLBACK_URL=xxxxx

COINMARKET_API_KEY=xxxxx